/* common styles */
.text-primary {
  color: #4E47FF;
}
.color-primary {
  color: #4E47FF;
}
.btn-primary {
  background-color: #4E47FF;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
}
/* font */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* body */
body {background-color: #F5F8FF;}

/* live-preview */
.live-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 141px;
}
.live-preview-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.live-preview-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
}
.live-preview-pfp {
    border-radius: 48px;
}

/* productive-user */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 80px 50px;
    margin: 116px 141px; 
    border-radius: 24px;
    justify-content: center;
    display: flexbox;
}
.productive-user-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}
.pu-number {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0px ;
}
.pu-numbers ul {
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    display: flex;
}
.pu-numbers ul p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title {
    flex: 1;
    font-size: 34px;
    font-weight: 800;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li a {
    text-decoration: none;
}

/* banner */
.banner {
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}
.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;


}
.banner-content {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 158px;
    margin-bottom: 152px;
}
.reviews-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

/* reviews style */
.reviews-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 116px 141px;
    align-items: center;

    margin-top: 10px;
}
.comment {
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.userpfp {
    border-radius: 50%;
    height: 100%; 
    margin-right: 5px;
}
.review {
    font-size: 24px;
}
.reviewp {
    font-size: 16px;
}
.user {
    display: flex;
    align-items: center;
}
.username {
    font-size: 16px;
    margin-bottom: 1px;
    color: #757575;
}
.date {
    font-size: 16px;
    margin-top: 1px;
    color: #757575;
}
/* subscription */
.subs-content{
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    margin: 116px 141px;
    
}
.subs-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 50px;
}
.subs-description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.subspfp {
    border-radius: 48px;
    margin-bottom: 50px;
}

/* contact form */

.getintouch {
    font-size: 97px;
    font-weight: bold;
}
.info input[type="text"], input[type="email"], textarea {
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    margin-bottom: 24px;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: block;
}
.get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 141px;
}
label {
    font-size: 18px;
    font-weight: 500;
}
/* footer */
footer {
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
}
.footer-logo {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #4E47FF;
}
.footer-description {
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    margin-bottom: 30px;
}
.links a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    margin: 0px 25px;
    justify-content: space-between;
}